<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Video Editor</title>
</head>

<body>
   <div id="loader"></div>
    <div id="fileupload">
 {{> index}}
    </div>
    <div id="videoedit">
 {{> video}}
    </div>
<script src="js/file.js"></script>
</body>
</html>